<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings >
		<!--Cadena de conexion-->
		<add name ="Documentos" connectionString ="server=DESKTOP-3V9TI4J;Database=SistemaDocumentosPNP;Integrated Security=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>